.about{
    background-color: black;
   
    
}
.about .ab{
color: yellow;
font-size: 25px;

text-transform: capitalize;
border-bottom: 1px solid yellow;

display: flex;
text-align: center;
justify-content: center;
padding: 20px;
}
.about .about-con {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: black;
    height: 100vh;
}

.about .about-con .aboutc {
    width: 50%;

}

.about .about-con .aboutc h3 {
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 400;
    color: yellow;
}

h3 .info {
    padding-top: 20px;


}

.list {
    list-style: none;
  
position: relative;
right: 4%;
top: -5%;
color: antiquewhite;
font-size: 20px;
   
 
}

 .about p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.65;
    padding-bottom: 20px;
    border-bottom: 1px dashed yellow;
    margin-left: 10px;
}