.Contact{
    background-color: #000;
    height: 99vh;
}
.Contact .ab{
color: yellow;
font-size: 25px;

text-transform: capitalize;
border-bottom: 1px solid yellow;

display: flex;
text-align: center;
justify-content: center;
padding: 20px;
}


.Contact .contact-page {
    background-color: black;
    opacity: 0.8;
    height: 88vh;
}

.contact-page .contact-header {
    line-height: 2.6rem;
    margin-left: 30px;
    position: relative;
    top: 6%;
}

.contact-form {
    width: 100%;
    margin-top: 60px;

    ul {
        padding: 0;
        margin: 30px;

        li {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 1;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }

    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background-color: rgb(97, 75, 75);
        height: 50px;
        font-size: 15px;
       
        padding: 0 20px; color: #fff;
        box-sizing: border-box;

    }

    textarea {
        width: 100%;
        border: 0;
        background-color: rgb(97, 75, 75);
        height: 58px;
        font-size: 16px;
         padding: 0 20px; color: #fff;
         min-height: 150px;
         box-sizing: border-box;
    }
    .flat{
        color: yellow;
       
        background-color: transparent;
        letter-spacing: 3px;
        padding: 6px 10px;
        border:1px solid  ;
        font: 11px;
        border-radius: 4px;
        float: right;
    }
}