.PORTFOLIO {
    background-color: #000;
    height: 99vh;
}

.PORTFOLIO .ab {
    color: yellow;
    font-size: 25px;

    text-transform: capitalize;
    border-bottom: 1px solid yellow;

    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.PORTFOLIO h1 {

    font-size: 40px;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
}

.PORTFOLIO h1 span {
    color: yellow;
    margin-left: 15px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, auto));



}

.row {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;

    margin-top: 70px;
    margin-left: 100px;
    width: 260px;
    height: 305px;


}

.row img {

    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    overflow: hidden;
    width: 100%;


}

.layer {
    width: 90%;
    height: 0;
    background-color: linear-gradient #fff;
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    transition: height 0.4s;
}

.layer h5 {
    color: yellow;
    font-size: 20px;
    font-weight: 900;
}

.layer p {
    color: black;
    font-size: 1rem;
    line-height: 1.8;
    
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;

}