 .skills{
    background-color: #000;
    height: 99vh;
}
.skills .ab{
color: yellow;
font-size: 25px;

text-transform: capitalize;
border-bottom: 1px solid yellow;

display: flex;
text-align: center;
justify-content: center;
flex-wrap: wrap;
padding: 20px;
}
 
 
 .skills .skills-con {
    display: flex;
   flex-wrap: wrap;
    
    color:yellow;
    background-color: black;
    opacity: 0.8;
    height: 77vh;
    
    
}


.skills-con .container1 {

    display: flex;
    flex-wrap: wrap;
    height: 200px;
    
}

.skills-con .container1 h1 {
     /* text-decoration: underline;
    text-align: center;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    margin-top: 30px; */
 margin-left: 30px; 
}

.skills-con .container1 .technical,
.skills-con .container1 .soft {

    position: relative;
    top: 70%;
    right: 25%;
    font-size: 25px;

}
.skills-con .container1 .soft{
    position: relative;
    left: 20%;
}
.skills-con .container1 .head{
   position: relative;
   left: 50%;
}


.soft .bar .progress-line{
    position: relative;
    bottom: 20px;

    left: 250px;
    border-radius: 10px;
    width: 230px;
    height: 10px;
   
    animation: animate  0.4s ease-in-out forwards;
    opacity:0;
}


.technical .bar .progress-line  {
    position: relative;
    bottom: 20px;

    left: 170px;
    border-radius: 10px;
    width: 230px;
    height: 10px;
   
    animation: animate  0.4s ease-in-out forwards;
    opacity:0;

}
@keyframes animate{
    0%{
       width: 0;
       opacity: 1;
    }
    100%{
        opacity: 1;
    }
}




.technical .bar .progress-line span ,.soft .bar .progress-line span {
    height: 100%;
    background-color: yellow;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s ease-in-out forwards;
    


}

.progress-line.HTML span {
    width: 90%;
    animation-delay: 0.1s;
}

.progress-line.CSS span {
    width: 70%;
}
.progress-line.Javascript span {
    width: 60%;
}
.progress-line.Bootstrap span {
    width: 70%;
}
.progress-line.React span {
    width: 70%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #FFF;
}